{% load static %}

<div class="event-box">
    
    {% if event.image %}
    <a href="{% url 'event_detail' event.id %}">
        <div class="event-top-box"><div class="event-image" style="background-image: url({{event.image.url}});"></div></div>
    </a>
    {% else %}
    <img alt="Event thumbnail">
    {% endif %}
    <p class="event-title">{{ event.name }}</p>
    <div class="info-summary">
        <p class="date">
            <img src="{% static 'images/calendar.png' %}" class="info-icon" style="width: 30px; height: 30px; margin-right: 6px;">
            {{ event.date }}
        </p>

        <p class="time">
            <img src="{% static 'images/clock.png' %}" class="info-icon" style="width: 30px; height: 30px; margin-right: 6px;">
            {{ event.start_time }} - {{ event.end_time }}
        </p>

        <p class="campus">
            <img src="{% static 'images/map-marker.png' %}" class="info-icon" style="width: 30px; height: 30px; margin-right: 6px;">
            {{ event.campus }}
        </p>
    </div>

    <div class="additional-buttons">
        {% if user_favorites and event.id in user_favorites %}
        <button type="button" class="btn interested-btn btn-success" data-event-id="{{ event.id }}"
            data-favorited="true">
            Unmark ⭐
        </button>
        {% else %}
        <button type="button" class="btn interested-btn btn-warning" data-event-id="{{ event.id }}"
            data-favorited="false">
            Interested ⭐
        </button>
        {% endif %}

        <div id="favorite-message-{{ event.id }}" class="mt-1"></div>

        <a href="{% url 'event_detail' event.id %}" class="btn btn-info see-details mt-2">
            See Details
        </a>
    </div>
</div>