<div class="event-box">
    <p class="event-title">{{ event.name }}</p>
    {% if event.image %}
    <img src="{{ event.image.url }}" alt="Event thumbnail" class="event-image">
    {% else %}
    <img alt="Event thumbnail">
    {% endif %}

    <div class="info-summary">
        <p class="date">{{ event.date }}</p>
        <p class="time">{{ event.start_time_display }} - {{ event.end_time_display }}</p>
        <p class="location">{{ event.location }}</p>
        <p class="campus">{{ event.campus }}</p>
    </div>

    <div class="additional-buttons">
        {% if user_favorites and event.id in user_favorites %}
        <button type="button" class="btn interested-btn btn-success" data-event-id="{{ event.id }}"
            data-favorited="true">
            Unmark ⭐
        </button>
        {% else %}
        <button type="button" class="btn interested-btn btn-warning" data-event-id="{{ event.id }}"
            data-favorited="false">
            Interested ⭐
        </button>
        {% endif %}

        <div id="favorite-message-{{ event.id }}" class="mt-1"></div>

        <a href="{% url 'event_detail' event.id %}" class="btn btn-info see-details mt-2">
            See Details
        </a>
    </div>
</div>