
# Python
*.pyc
__pycache__/

# Virtual environment
venv/

# Database
db.sqlite3

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Word temp files
~$*
*.tmp

# Ignore Word docs and temporary files
Documents/*.docx
Documents/~*.tmp