*{
    padding: 0;
    margin: 0;
    font-family: "Avenir", "Mulish", "Helvetica", sans-serif;
}
body{
    --green: #017550;
}

header{
    height: 20vh;
    color: var(--green);
    background-color: white;
    position: relative;
}

header h1{
    font-weight: bolder;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header #button{
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 170px;
    height: 50px;
    background-color: var(--green);
    box-sizing: border-box;
}

.event-box{
    color: white;
    height: 500px;
    width: 400px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.event-box .event-title{
    font-size: 1.6em;
    text-align: center;
    padding: 25px;
}

.event-box img{
    height: 250px;
    width: 100%;
    background-color: gray;
}

.event-box .info-summary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
}

.add-fav, .see-details{
    background-color: gray;
    height: fit-content;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    margin: 5px;
}.add-fav{
    background-color: goldenrod;
}.see-details{
    background-color: var(--green);
}

.event-box .additional-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}