{% extends 'home.html' %}
{% block title %}Calendar{% endblock %}
{% block show_header %}{% endblock %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        DVC Events Radar - Login
    </title>
    <link rel="stylesheet" href="{% static 'login.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>


<body>
    <div class="login-container">
        <h1 class="title">DVC Event Radar</h1>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">{{error_message}}</div>
        {% endif %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="email"><i>Student Email</i></label>
            <input type="email" id="email" name="email" required>

            <label for="password"><i>Password</i></label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="login-btn">LOGIN</button>
        </form>
        <p class="register-text">
            First-time user? <a href="{% url 'register' %}">Register</a> here
        </p>
    </div>
    
</body>
</html>
{% endblock %}