{% extends "base.html" %}
{% block title %}Manage Users{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>👤 Manage Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>DVC ID</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{ user.user.username }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.DVC_ID }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
