{% extends 'base_profile.html' %}
{% block title %}DVC Events Register{% endblock %}
{% block show_header %}{% endblock %} <!-- hides header/navbar -->
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}?v=9">

<div class="auth-wrapper">
    <div class="login-container">
        <h1 class="title">DVC Event Radar</h1>

        {% if error %}
        <p style="color:red">{{ error }}</p>
        {% endif %}

        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <label for="email"><i>Student Email</i></label>
            <input type="email" id="email" name="email" required>

            <label for="password"><i>Password</i></label>
            <input type="password" id="password" name="password" required>

            <label for="password_validation"><i>Confirm Password</i></label>
            <input type="password" id="password_validation" name="password_validation" required>

            <label for="first_name"><i>First Name</i></label>
            <input type="text" id="first_name" name="first_name">

            <label for="last_name"><i>Last Name</i></label>
            <input type="text" id="last_name" name="last_name">

            <label for="DVC_ID"><i>DVC ID</i></label>
            <input type="text" id="DVC_ID" name="DVC_ID">

            <button type="submit" class="login-btn">CREATE ACCOUNT</button>
        </form>

        <p class="register-text">
            Already have an account? <a href="{% url 'login' %}">Login</a> here
        </p>
    </div>
</div>
{% endblock %}